<div class="container-fluid" style="background: #8ABF47">
  <div class="p-3 header">
    <p class="h1 text-dark font-weight-bold text-center">IMAGE UPLOAD</p>
  </div>
  <div class="row px-4">
    <div class="col-sm-6 mt-5">
      <div class="card image-upload">
        <div class="card-header font-weight-bold h5">Image Upload</div>
        <div class="card-body d-flex">
          <div class="upload`">
            <button class="btn btn-secondary upload_btn"> <i class="fa fa-image fa-3x"></i> </button>
            <input type="file" id="file" multiple (change)="uploadImage($event)">
          </div>
          <div class="image_detail w-100 border ml-4 px-4">
            <div class="form-inline mt-2">
              <label for="image_name">Name: </label>
              <p class="px-3 image_name m-0" id="image_name">{{image_name}}</p>
            </div>
            <div class="form-inline">
              <label for="image">Image Type: </label>
              <p class="px-3 image_url m-0">{{image_type}}</p>
            </div>
            <div class="form-inline">
              <label for="image">Image size: </label>
              <p class="px-3 image_url m-0">{{image_size}}</p>
            </div>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="row m-4">
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3 image_item" *ngFor="let image of initData">
              <img src="{{image.fileUrl}}" class="img-thumbnail img-fluid img_item">
              <input type="file" id="{{image.id}}" multiple class="item_file" (change)="replaceImage($event)">
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-editor mt-5">
        <div class="card-header font-weight-bold h5">Text Editor</div>
        <div class="card-body">
          <editor [init]="{
                height: 300,
                menubar: true,
                plugins: [
                  'advlist autolink lists link image charmap print preview anchor',
                  'searchreplace visualblocks code fullscreen',
                  'insertdatetime media table paste code help wordcount'
                ],
                toolbar: 'undo redo |\
                  forecolor backcolor image charmap emoticons |\
                  bold italic underline strikethrough |\
                  alignleft aligncenter alignright alignjustify |\
                  insertfile media template link anchor codesample |\
                  fontselect fontsizeselect |\ formatselect |\
                  outdent indent |  numlist bullist |\
                  | fullscreen pagebreak removeformat preview save print |\
                  ltr rtl',
                  autosave_ask_before_unload: true,
                  autosave_interval: '30s',
                  autosave_prefix: '{path}{query}-{id}-',
                  autosave_restore_when_empty: false,
                  autosave_retention: '2m',
                  image_advtab: true,
                  importcss_append: true,
                toolbar_sticky: true,
                template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
                template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
                image_caption: true,
                quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
                noneditable_noneditable_class: 'mceNonEditable',
                toolbar_mode: 'sliding',
                contextmenu: 'link image imagetools table',
                skin: useDarkMode ? 'oxide-dark' : 'oxide',
                content_css: useDarkMode ? 'dark' : 'default',
                content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
              }">
          </editor>
        </div>
        <!-- plugins: 'print preview paste importcss searchreplace autolink autosave save directionality
         code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak 
         nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap
          quickbars emoticons',
        imagetools_cors_hosts: ['picsum.photos'],
        menubar: 'file edit view insert format tools table help', -->
      </div>
    </div>
  </div>
</div>