.upload_btn{    
    width: 100px;
    height: 100px;
}
.card{    
    box-shadow: 0px 3px 9px 3px #212529;
}
#file{    
    position: absolute;
    width: 100px;
    height: 100px;
    left: 20px;
    opacity: 0;
}
#file:hover{
    cursor: pointer;
}
.item_file{    
    position: absolute;
    width: 185px;
    height: 185px;
    left: 16px;
    top: 0;
    opacity: 0;
}
.item_file:hover{
    cursor: pointer;
}
.item_file:hover{
    cursor: pointer;
}
.img_item{
    min-width: 185px;
    min-height: 185px;
}
.header{
    border-bottom: 4px solid #666;
}